<ion-tabs swipeTab (ionChange)="transition($event)" (onTabChange)="onTabChange($event)" [selectedIndex]="mySelectedIndex" #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Produkty" tabIcon="custom-catalog" [tabBadge]="tabBadgeCount['catalog'] > 0 ? tabBadgeCount['catalog'] : null" tabBadgeStyle="orange"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Konfigurátor" tabIcon="custom-configurator" [tabBadge]="tabBadgeCount['configurator'] > 0 ? tabBadgeCount['configurator'] : null" tabBadgeStyle="orange"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Souteže" tabIcon="custom-contest" [tabBadge]="tabBadgeCount['contest'] > 0 ? tabBadgeCount['contest'] : null" tabBadgeStyle="orange"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Proč koupit?" tabIcon="custom-about" [tabBadge]="tabBadgeCount['info'] > 0 ? tabBadgeCount['info'] : null" tabBadgeStyle="orange"></ion-tab>
</ion-tabs>
