page-info {
  .icon {
    max-width: 10rem;
  }

  ion-row {
    align-items: center;
    padding: 10px 0
  }

  .social {
    width: 5rem;
    height: 5rem;
  }

  .logo {
    width: 100px;
  }

  .border-row ion-row {
    border: 1px solid black;
    margin: 10px;
    padding: 0;

    ion-col {
      padding: 0 10px 0 0;
    }
  }

  .grid-social {
    padding: 0;
    background-color: black;
  }
}
