<ion-content>

  <div padding-top text-center>
    <img class="logo" src="./assets/imgs/logo.png">
  </div>

  <ion-grid class="border-row">
    <ion-row align-items-center>
      <ion-col class="flex-row">
        <img src="assets/imgs/ben2.jpg" class="icon">
        <p text-uppercase text-center>Nad 2 000 Kč <br>doprava zdarma</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex-row">
        <img src="assets/imgs/ben1.jpg" class="icon">
        <div text-center>
          <div text-uppercase>100% merino vlna</div>
          <div><small>extra fine - z Itálie</small></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex-row">
        <img src="assets/imgs/ben3.jpg" class="icon">
        <p text-uppercase text-center>30 dnů na vyzkoušení <br>a vrácení</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding id="text" [innerHtml]="text" tappable (click)="textOnclick($event)"></div>

  <ion-grid class="grid-social">
    <ion-row align-items-center no-padding>
      <ion-col col-5 text-right>
        <button class="blank social" (click)="openBrowser('link-facebook')"><img src="./assets/imgs/icon-fb.png"></button>
      </ion-col>
      <ion-col col-5 offset-2>
        <button class="blank social" (click)="openBrowser('link-instagram')"><img src="./assets/imgs/icon-instagram.png"></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding><img id="logo-eu" src="./assets/imgs/logo_eu.png"></div>
  <!--<ion-row>-->
    <!--<ion-col><img id="logo-eu" src="./assets/imgs/logo_eu.png"></ion-col>-->
  <!--</ion-row>-->
</ion-content>
