// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$btn-height: 40px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  grey:       #545454,
  light:      #aaa,
  lighter:    #ebebeb,
  dark:       #222,
  black:      #000000,
  white:      #ffffff,
  orange:     #dd7727,
);

$tabs-background: color($colors, black);
$tabs-tab-color-active: color($colors, white);

$tabs-tab-color-inactive: color($colors, light);
$tabs-md-tab-color-inactive: color($colors, light);

$toolbar-background: color($colors, black);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-button-font-size: 1.3rem;
$toolbar-ios-title-font-size: 1.3rem;
$toolbar-ios-title-text-align: left;
$toolbar-ios-title-font-weight: 500;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-button-font-size: 1.3rem;
$toolbar-md-title-font-size: 1.3rem;

$button-md-text-transform: none;

$searchbar-md-input-background-color: rgba(0,0,0,0.08);
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-border-radius: 24px;
$searchbar-md-input-placeholder-color: rgba(0, 0, 0, .5);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
$font-family-base: "Quicksand", sans-serif;
$font-family-ios-base: "Quicksand", sans-serif;
$font-family-md-base: "Quicksand", sans-serif;
$font-family-wp-base: "Quicksand", sans-serif;
