// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.tabs .tab-button {
  font-weight: 500;
}

p {
  line-height: 1.5
}

.button-md {
  box-shadow: none !important;
}

button:active {
  opacity: 0.8;
}

ion-header ion-icon.back-button-icon.icon {
  color: color($colors, white);
}

.btn-icon {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-link {
  text-decoration: underline;
  font-size: 1.4rem;
  padding: 0;
  font-weight: 500;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-catalog"] {
    mask-image: url(../assets/imgs/icon-catalog.svg);
  }
  &[class*="custom-configurator"] {
    mask-image: url(../assets/imgs/icon-configurator.svg);
  }
  &[class*="custom-contest"] {
    mask-image: url(../assets/imgs/icon-contest.svg);
  }
  &[class*="custom-about"] {
    mask-image: url(../assets/imgs/icon-about.svg);
  }
  &[class*="custom-star"] {
    mask-image: url(../assets/imgs/star.svg);
  }
  &[class*="custom-star-outline"] {
    mask-image: url(../assets/imgs/star_outline.svg);
  }
}

.badge-md {
  border-radius: 12px
}

.blank {
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-primary {
  height: $btn-height;
  width: 100%;
  color: white;
  background-color: color($colors, orange);
  font-weight: bold;
  text-transform: uppercase;
}

.toolbar-ios ion-title {
  padding-right: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

body.keyboard-is-open {
  div.tabbar.show-tabbar {
    display: none;
  }
  scroll-content {
    margin-bottom: 0 !important;
  }
}

#bottom-safe-area-helper {
  height: 0;
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
  visibility: hidden;
  position: absolute;
}
