<div class="star-rating">
  <button *ngFor="let index of [1,2,3,4,5]" id="{{index}}" type="button" color="dark" ion-button icon-only clear (click)="changeRating($event)">
    <ion-icon name="{{index <= rating ? 'custom-star' : 'custom-star-outline'}}"></ion-icon>
  </button>
</div>
