<ion-content no-bounce>
  <div class="contest-container" *ngIf="this.contest">
    <div class="contest-body">
      <div class="contest-question">
        <button class="btn-icon btn-back" *ngIf="this.showForm" (click)="back()"><ion-icon name="arrow-back"></ion-icon></button>
        <div class="title">SOUTEŽ</div>
        <div class="question">{{contest.question}}</div>
        <img [src]="contest.image" [hidden]="!contest.image || contest.contestType == 'rating'">

        <div *ngIf="contest.contestType == 'rating'" class="slides-arrows">
          <button class="btn-icon" float-left (click)="slidesSwipe(-1)" [disabled]="actualSlide === 1">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
          <div class="pages">{{actualSlide}}/{{maxSlide}}</div>
          <button class="btn-icon" float-right (click)="slidesSwipe(1)" [disabled]="actualSlide === maxSlide">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </div>

      </div>
      <div class="contest-answer">
        <div *ngIf="!showForm && contest.contestType == 'voting'">
          <button *ngFor="let answer of contest.answers" class="contest-answer-btn" (click)="selectAnswer(answer)"[class.selected]="answerVoting == answer">
            {{answer}}
          </button>
        </div>
        <div *ngIf="!showForm && contest.contestType == 'rating'">
          <ion-slides #slides (ionSlideDidChange)="slideChanged($event)">
            <ion-slide *ngFor="let image of contest.answers; let index = index">
              <img [src]="image">
              <star-rating (ratingChanged)="onRatingEmitted(index, $event)"></star-rating>
            </ion-slide>
            <ion-slide>
              <form (ngSubmit)="sendResult()">

                <div class="form-title">vyplňte prosím své údaje a odešlete</div>

                <label for="name2">VAŠE JMÉNO</label>
                <input id="name2" name="name" type="text" [(ngModel)]="userName" placeholder="Pavel Novák">

                <label for="email2">VAŠ E-MAIL</label>
                <input id="email2" name="email" type="email" [(ngModel)]="userEmail" placeholder="p.novak@gmail.com">

                <div class="policy-block">
                  <label class="container" for="podminky"><button class="btn-icon btn-link" type="button" (click)="openPolicy($event)">Souhlasím s pravidly</button> a zpracováním osobních údajů.
                    <input id="podminky" name="policy" type="checkbox" [(ngModel)]="policy">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </form>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngIf="!showForm && contest.contestType == 'text'">
          <form (ngSubmit)="sendResult()">
            <input name="answerText" type="text" [(ngModel)]="answerText" placeholder="Zde napište svou odpověď">

            <label for="name1">VAŠE JMÉNO</label>
            <input id="name1" name="name" type="text" [(ngModel)]="userName" placeholder="Pavel Novák">

            <label for="email1">VAŠ E-MAIL</label>
            <input id="email1" name="email" type="email" [(ngModel)]="userEmail" placeholder="p.novak@gmail.com">

            <div class="policy-block">
              <label class="container" for="podminky"><button class="btn-icon btn-link" type="button" (click)="openPolicy($event)">Souhlasím s pravidly</button> a zpracováním osobních údajů.
                <input id="podminky" name="policy" type="checkbox" [(ngModel)]="policy">
                <span class="checkmark"></span>
              </label>
            </div>
          </form>
        </div>

        <div *ngIf="showForm">
          <button *ngIf="contest.contestType == 'voting'" class="contest-answer-btn selected">{{answerVoting}}</button>
          <form (ngSubmit)="sendResult()">

            <label for="name">VAŠE JMÉNO</label>
            <input id="name" name="name" type="text" [(ngModel)]="userName" placeholder="Pavel Novák">

            <label for="email">VAŠ E-MAIL</label>
            <input id="email" name="email" type="email" [(ngModel)]="userEmail" placeholder="p.novak@gmail.com">
            <div class="policy-block">
              <label class="container" for="podminky"><button class="btn-icon btn-link" type="button" (click)="openPolicy($event)">Souhlasím s pravidly</button> a zpracováním osobních údajů.
                <input id="podminky" name="policy" type="checkbox" [(ngModel)]="policy">
                <span class="checkmark"></span>
              </label>
            </div>

          </form>
        </div>
      </div>
      <!-- footers -->
      <div class="contest-footer" *ngIf="contest.contestType == 'voting'">
        <button class="btn-primary" *ngIf="!showForm" [disabled]="!answerVoting && !answerText" (click)="nextPage()">
          pokračovat
        </button>
        <button class="btn-primary" type="submit" *ngIf="showForm" [disabled]="!userEmail || !policy" (click)="sendResult()">
          odeslat
        </button>
      </div>
      <div class="contest-footer" *ngIf="contest.contestType == 'rating' && actualSlide == maxSlide">
        <button class="btn-primary" type="submit" [disabled]="!userEmail || !policy" (click)="sendResult()">odeslat</button>
      </div>
      <div class="contest-footer" *ngIf="contest.contestType == 'text'">
        <button class="btn-primary" type="submit" [disabled]="!answerText || !userEmail || !policy" (click)="sendResult()">odeslat</button>
      </div>
    </div>


  </div>
  <div *ngIf="isLoading === false && !this.contest" class="no-contest">
    <div class="title" text-center>SOUTEŽE</div>
    <div class="contest-container" padding>
      <div>Aktuálně žádná soutěž neprobíhá, ale...</div>
      <img src="./assets/imgs/no_contest.svg">
      <div>pracujeme na ní!</div>
      <div>A až bude připravená, dáme Vám vědět :)</div>
    </div>
  </div>
</ion-content>
