page-contest {
  .swiper-slide {
    font-size: inherit;
  }

  .swiper-slide img {
    object-fit: cover;
  }

  .form-title {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .contest-container {
    // position: relative;
    // margin: auto;
    // top: 5%;
    // width: 90%;
    // max-width: 500px;
    // height: 90%;
    // box-shadow: 0px 0px 17px 0px rgba(140, 140, 140, 0.2);
    text-align: center;
    background-color: color($colors, lighter);

    .contest-footer {
      //position: absolute;
      //bottom: 0;
      width: 100%;
      height: $btn-height;
    }

    .contest-body {
      position: absolute;
      top: 0;
      width: 100%;
      //height: calc(100% - #{$btn-height});
      overflow: auto;
      padding-bottom: 49px;
    }

    .contest-question {
      background: white;
      padding-bottom: 10px;
    }
    .slides-arrows {
      width: 80%;
      margin: auto;
      height: 4rem;
      line-height: 4rem;
      font-size: 1.9rem;
      font-weight: bold;
    }
    .slides-arrows button {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 3.5rem;
    }
    .slides-arrows .pages {
      display: inline-block;
    }
    .btn-back {
      position: absolute;
      left: 20px;
      top: 10px;
      font-size: 2rem;
    }

    .question {
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-size: 1.6rem;
      color: color($colors, dark);
    }

    .contest-answer-btn {
      border: 1.5px solid black;
      color: black;
      background-color: white;
      border-radius: 2px;
      text-transform: uppercase;
      display: block;
      margin: 10px auto;
      width: 90%;
      height: 35px;
      font-weight: bold;
    }

    .contest-answer-btn.selected {
      color: white;
      background-color: black;
    }

    .contest-answer-textarea {
      width: 100%;
      background-color: white;
      border-radius: 2px;
      border: 1px solid black;
      padding: 10px 30px 10px 10px;
      color: color($colors, dark);
      margin-bottom: 15px;
    }

    .contest-answer-text {
      white-space: pre-wrap;
      border: 1.5px solid black;
      color: white;
      background-color: black;
      border-radius: 2px;
      display: block;
      margin: 10px auto;
      width: 90%;
      font-weight: bold;
      padding: 8px;
      text-align: left;
    }

    form {
      width: 90%;
      margin: 20px auto;
      text-align: left;
    }

    form label {
      text-align: left;
      color: color($colors, dark);
      text-transform: uppercase;
      margin: 10px 0;
      display: block;
    }

    form input {
      width: 100%;
      background-color: white;
      border-radius: 2px;
      border: 1px solid black;
      padding: 10px 30px 10px 10px;
      color: color($colors, dark);
      margin-bottom: 15px;
    }
    form input::placeholder {
      opacity: 0.6;
    }
  }
  .title {
    font-weight: bold;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .no-contest img {
    max-width: 80%;
  }
  .no-contest .contest-container div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .no-contest .contest-container {
    background-color: white;
    padding: 30px;
    border-bottom: 2px solid color($colors, orange);
  }

  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: #dd7727;
    width: 20px;
    height: 20px;
    background-image: url(../assets/imgs/check.png);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .policy-block {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    padding-left: 35px;

    & label {
      text-transform: initial !important;
      margin: 0 !important;
    }
    #podminky {
      display: none
    }
  }
}
