@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.woff2?v=3.0.0-alpha.3") format("woff2"), url("../fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"), url("../fonts/ionicons.ttf?v=3.0.0-alpha.3") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: "Quicksand", sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:active {
    opacity: 0.7;
}

a:hover {
    opacity: 0.7;
}

.content {
    border: solid 0px red;
}

.half {
    height: 50%;
}

.third {
    height: calc(100% / 3);
}

.quarter {
    height: 25%;
}


.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box a {
    position: relative;
    display: block;
    height: 100%;
}




.label {
    border-bottom: 2px solid #dd7727;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
}

.label-black {
    background-color: black;
    opacity: 0.5;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar {
    height: 56px;
    background-color: black;
    color: white;
    font-family: "Ionicons";
}

.under {
    position:absolute;
    top:56px;
    bottom:0px;
    left:0;
    right:0
}





.title {
    padding: 0 12px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    font-family: "Quicksand", sans-serif;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    webkit-box-direction: normal;
}

.icon-back {
    color: #ffffff;
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
    display: inline-block;
    font-family: "Ionicons";
}

.icon-back:before {
    content: "\f27d";
}

